{% extends "base.html.twig" %}
{% block title %}
    {{ category.name|upper }}
{% endblock %}

{% block body %}
<h2>{{ category.name}}</h2>
    {% for product in products %}
        <ul>
            <li>{{ product.name }}</li>
            <li>{{ product.price }}</li>
            <li><a href="{{ url('productView', {'id' : product.id}) }}">Frameworkowy URL</a></li>
            <li><a href="{{ url('productUrl', {'id' : product.id }) }}"> Friendly URL</a></li>
        </ul>
    {% endfor %}
{% endblock %}
